<div id="additional-fees">
    <h2>Additional Fees</h2>
    <ul>
        <li>
            <%= f.checkbox(:mice_and_rat_warranty) %>
            <%= label_tag(:mice_and_rat_warranty, "Mice and Rat Warranty $59.99") %>
        </li>
        <li>
            <%= f.checkbox(:scorpion) %>
            <%= label_tag(:scorpion, "Scorpion $59.99") %>
        </li>
        <li>
            <%= f.checkbox(:cockroach) %>
            <%= label_tag(:cockroach, "Cockroach $59.99") %>
        </li>
        <li>
            <%= f.checkbox(:bed_bugs) %>
            <%= label_tag(:bed_bugs, "Bed Bugs$174.99 per room") %>
        </li>
    </ul>
</div>
