<script type="text/javascript">
$(function () {
  $("document").on("submit", ".new_address", function() {
      $('#new-address-modal').modal("close");
  });
});
</script>

<!-- Modal -->
<div  class="modal fade" id="new-address-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Service Location</h4>
      </div>
      <div class="modal-body">
            <%= form_for [addressable, @address], remote: true, html: {"data-type" => :json} do |addresses_form| %>
        <ul>
            <li>

                <%= addresses_form.label :street_one %><br >
                <%= addresses_form.text_field :street_one %>
            </li>
            <li>
                <%= addresses_form.label :street_two %><br >
                <%= addresses_form.text_field :street_two %>
            </li>
            <li>
                <%= addresses_form.label :city %><br >
                <%= addresses_form.text_field :city %>
            </li>
            <li>
                <%= addresses_form.label :state %><br >
                <%= addresses_form.text_field :state %>
            </li>
            <li>
                <%= addresses_form.label :postal_code %><br >
                <%= addresses_form.text_field :postal_code %>
                
            </li>
                <%= addresses_form.hidden_field :is_billing, value: false %>
                <div class="actions">
                    
                </div>
        </ul>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= addresses_form.submit 'Save',  class: "btn btn-primary" %>
      </div>
    <% end %>
          
    </div>
  </div>
</div>
<!-- -->
