<%= form_for(current_order) do |f| %>
<div id="agreement_id_hidden_field_goes_here">
    <%= f.hidden_field :service_agreement_id, :value =>  agreement.id %>
    <%= f.hidden_field :id, :value => current_order.id %>
    <%= f.hidden_field :account_id, :value => agreement.account.id %>
    
</div>

  <%= f.submit "Attach Order to Agreement", :class => 'btn btn-lg btn-primary btn-block' %>
<% end -%>
