<div class="well"%>

  <div class="row">
    <div class="col-xs-8">
      <h4><%=  "#{service.name} order #{order.id}"  %></h4>
    </div>
    <div class="col-xs-4">
            <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency service.price %></span></h4>
            <div class="input-group" id="<%= "service_" + service.id.to_s %>">
                <% if @order.order_items.where(service_id: service.id).size < 1 %>

                    <%= render :partial => 'services/clickable_create_form', locals: {service: service, agreement: agreement, order_item: order_item } %>
                    
                <% else %>
                    <%= link_to "Remove from Order",  @order.order_items.where(service_id: service.id).first,  method: :delete, data: { confirm:  "Are you sure you wish to delete this service from your cart?" }, remote: true, class: "btn btn-danger" %>
                <% end %>

            </div>
    </div>

  </div>
</div>
