<ul>
    <li>Business <%= @account.company_name if @account %> </li>
    <li>Name <%= @account.name %> </li>
    <li>
        <%= "#{@service_address.street_one}" %><br />
        <%= "#{@service_address.street_two}" %><br />
        <%= "#{@service_address.city}, #{@billing_address.state}  #{@billing_address.postal_code}" %><br />
    </li>
    <li>email <%= @account.email %> </li>
    <li>primary phone <%= @account.primary_phone_number %> </li>
    <li>secondary phone <%= @account.secondary_phone_number %> </li>
</ul>
