<%= form_for @agreement do |f| %>
  <% if @agreement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agreement.errors.count, "error") %>
      prohibited this account from being saved:</h2>

      <ul>
      <% @agreement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.fields_for :orders do |order| %>
        <div class="form-group">
            <%= order.hidden_field :pay_type, value: "electronic"  %>
        </div>
    <% end %>

      <div class="row">
        <div class="col-md-4 thin-rounded-box">
          <p class="cart-text"></p>
          <h2>Customer Information</h2>
          <div id="service_address_info">
              <% if @service_address.street_one.to_s.length > 0 %>
                <%= render :partial => 'customer_info', 
                      locals: {service_address: @service_address, account: @account }  %>
              <% else %>
                  <!-- Button trigger modal -->
              <%= link_to "New Service Address", new_account_address_path(account_id: @account.id, service_agreement_id: @agreement.id, is_billing: false), remote: true, class: "btn btn-primary" %>
          
              <% end %>
          
          </div>
          <h2>Payment Information</h2>
          <div id="billing_location">
              <% if @billing_address.street_one.to_s.length > 2 %>
              <ul>
                  <%= render :partial => 'addresses/postal_address', 
                        locals: {address: @billing_address }  %>
              </ul>
              <% else %>
                  <%= link_to "New Billing Address", new_account_address_path(account_id: @account.id, service_agreement_id: @agreement.id, is_billing: true), remote: true, class: "btn btn-primary" %>
        
              <% end %>
          
          </div>
          <div id="payment_method_info">
              <% if @payment_method.card_number.to_s.length > 2 %>
          
                  <%= render :partial => 'payment_info', 
                      locals: {payment_method: @payment_method} %>
              <% else %>
                  <%= link_to "New Payment Method", new_account_payment_method_path(account_id: @account.id,
                       service_agreement_id: @agreement.id),
                       remote: true, class: "btn btn-primary" %>
              <% end %>
          </div>
          <div class="sigPad">
              <p class="typeItDesc">Review your signature</p>
              <p class="drawItDesc">Draw your signature</p>
              <ul class="sigNav">
                <li class="clearButton"><a href="#clear">Clear</a></li>
              </ul>
              <div class="sig sigWrapper">
                <div class="typed"></div>
                <canvas class="pad" width="198" height="55"></canvas>
                <%= f.hidden_field :credit_card_signature, class: "output"  %>

              </div>
          </div>
          <hr />
          <%= render :partial => 'big_tom_contact_info' %>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <%= render :partial => 'list_of_pests' %>
                    <!--notes -->
                    <!-- <h2>Notes</h2> -->
                    <%# f.fields_for :notes do |notes_fields| %>
                        <%# notes_fields.text_area :content, size: "24x6" %>
                    <%# end %>
                </div>
                <div class="col-md-6">
                  <h2>Big Toms Pest Control</h2>
                  <h3>#1 in Pest Control Service</h3>
                  <div class="row thin-rounded-box">
                      <%= render :partial => 'fieldtech_name' %>
                  </div>
                  <div class="row">
                      <div id="satisfaction_guarantee" class="row thin-rounded-box">
                          <div> <%= render :partial => 'satisfaction_guarantee' %> </div>
                            <div class="sigPad">
                              <p class="drawItDesc">Draw your initials</p>
                              <ul class="sigNav">
                                <li class="clearButton"><a href="#clear">Clear</a></li>
                              </ul>
                              <div class="sig sigWrapper">
                                <div class="typed"></div>
                                <canvas class="pad" width="198" height="55"></canvas>
                                <%= f.hidden_field :satisfaction_guarantee_initials, class: "output"  %>

                              </div>
                            </div>
                            <hr />
                      </div>
                  </div>
                  <div class="row thin-rounded-box" id="additional_fees">
                      <h2> Additional Fees</h2>
                      <div id="additional_order_items">
                          <%= render :partial => 'additional_order_items' %>
                      </div>
                      <!-- Button trigger modal -->
                      <%= link_to "Edit Order", edit_order_path(@order), remote: true, class: "btn btn-primary" %>
                      
                  </div>
            </div>
        </div>
    </div>
  <div class="row">
      <div class="col-md-12">
          <%= render :partial => 'terms_of_service' %>
      </div>
  </div>
    <div class="row">
        <div class="col-md-12">
            <div id="payment_arrangement_info" class = "thin-rounded-box container">
                <% if @agreement.payment_arrangements.count > 0 %>
                
                    <%= render :partial => 'payment_info_box' %>
                    <% else %>
                        <!-- Button trigger modal -->
                        <%= link_to "New Payment Arrangement",
                         new_service_agreement_payment_arrangement_path(@agreement), 
                         remote: true, 
                         class: "btn btn-primary"  %>
                    <% end %>
            </div>
            
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <%= render :partial => "terms_of_service" %>
      </div>
  </div>
  <div class="row">
      <div class="col-md-4">
          <div class="row">
              <div class="sigPad">
                  <ul class="sigNav">
                    <li class="clearButton"><a href="#clear">Clear</a></li>
                  </ul>
                  <div class="sig sigWrapper">
                    <div class="typed"></div>
                    <canvas class="pad" width="198" height="55"></canvas>
                    <%= f.hidden_field :field_tech_signature, class: "output"  %>

                  </div>
              </div>
          </div>
          <div class="row">
              <p><%= "#{current_user.name}, Field Technician" if current_user %></p>
              <p><%= Date.current.to_formatted_s(:long) %></p>
          </div>
      </div>
      <div class="col-md-2">
      
      </div>
      <div class="col-md-4">
          <div class="row">
              <div class="sigPad">
                  <ul class="sigNav">
                    <li class="clearButton"><a href="#clear">Clear</a></li>
                  </ul>
                  <div class="sig sigWrapper">
                    <div class="typed"></div>
                    <canvas class="pad" width="198" height="55"></canvas>
                    <%= f.hidden_field :customer_signature, class: "output"  %>

                  </div>
              </div>
          </div>
          <div class="row">
              <p><%= "#{@account.first_name} #{@account.last_name}" if @account %></p>
              <p><%= Date.current.to_formatted_s(:long) %></p>
          </div>
      </div>
  </div>
  <div class="actions">
    <%= f.submit 'Initiate Service Agreement', :class => 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
