<div class="row container">
    <div class="row" id="payment_info_box">
        <div class="col-md-6">
            <strong>Payment Information</strong>
        </div>
        <div class="col-md-6">
            [payment]  <%= highlight("[Credit Card] [Check]", @arrangement.payment_method_description) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong>initial Charge</strong>
        </div>
        <div class="col-md-4">
            [209.50] <%= "%.2f" % @arrangement.initial_charge_amount.truncate(2)  if @arrangement.recurring_charge_amount %>
        </div>
        <div class="col-md-5">
            Date <%= @arrangement.start_date if @arrangement.start_date %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <strong>Recurring Charge</strong>
                </div>
                <div class="col-md-8">
                    [149.00] <%= "%.2f" % @arrangement.recurring_charge_amount.truncate(2)  if @arrangement.recurring_charge_amount %>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <%= highlight("Monthly   Bi-Monthly  Quarterly Pay in Full", @arrangement.payment_frequency) %>
            </div>
            <div class="row">
                <div class="col-md-12">
                    If for some reason I am not able to fulfill the 12 month Agreement, I agree to pay an early termination fee of $95
                </div>
            </div>
        </div>
        <div class="col-md-4">
                [initial here]
                [initial here]
        </div>
    </div>
</div>
                      <%= link_to "Edit", edit_payment_arrangement_path(@arrangement), remote: true, class: "btn btn-primary" if @arrangement %>
