<div class="row container">
    <div class="row" id="payment_info_box">
        <div class="col-md-6">
            <strong>Payment Information</strong>
        </div>
        <div class="col-md-6">
            [payment]  <%= highlight("[Credit Card] [Check], [Cash]", @arrangement.payment_method_description) %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <strong>initial Charge</strong>
        </div>
        <div class="col-md-4">
            [209.50] <%= "%.2f" % @arrangement.initial_charge_amount.truncate(2)  if @arrangement.recurring_charge_amount %>
        </div>
        <div class="col-md-5">
            Date <%= @arrangement.start_date if @arrangement.start_date %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <strong>Recurring Charge</strong>
                </div>
                <div class="col-md-8">
                    [149.00] <%= "%.2f" % @arrangement.recurring_charge_amount.truncate(2)  if @arrangement.recurring_charge_amount %>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                <strong><%= @arrangement.payment_frequency %></strong>
            </div>
            <div class="row">
                <div class="col-md-12">
                    If for some reason I am not able to fulfill the 12 month Agreement, I agree to pay an early termination fee of $95
                </div>
            </div>
        </div>
        <div class="col-md-4">
         <% if @arrangement && @arrangement.customer_initials %>
          <div class ="row partys_signature">
              <div class="paymentArrangementInitialsSigPad signed">
                <div class="sigWrapper">
                  <canvas class="pad" width="198" height="55"></canvas>
                </div>
              </div>
          </div>
          <% end %>
        </div>
    </div>
</div>
                      <%= link_to "Edit", edit_payment_arrangement_path(@arrangement), remote: true, class: "btn btn-primary" if @arrangement %>
<!--supporting scripts for displaying signature -->
                      
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script src="https://thomasjbradley.github.io/signature-pad/jquery.signaturepad.js"></script>
  <script>
      payment_arrangement_initials = <%= raw @arrangement.customer_initials %>
    $(document).ready(function() {
      $('.paymentArrangementInitialsSigPad').signaturePad({displayOnly:true}).regenerate(payment_arrangement_initials);
    });

  </script>
  <script src="https://thomasjbradley.github.io/signature-pad/assets/json2.min.js"></script>
<!--finish -->