<h1>Service Agreement</h1>

  <div class="row">
    <div class="col-md-4">
      <h2>Customer Information</h2>
      <% if @service_address && @account %>
          <%= render :partial => 'customer_info', locals: {service_address: @service_address, account: @account }  %>
      <% end %>
      <h2>Payment Information</h2>
      <% if @billing_address && @payment_method %>
      <%= render :partial => 'payment_info', locals: {billing_address: @billing_address, payment_method: @payment_method } %>
      <% end %>
      <div class="creditCardSigPad signed">
        <div class="sigWrapper">
          <canvas class="pad" width="198" height="55"></canvas>
        </div>
        <p><%= @account.name %></p>
      </div>

      <hr></hr>
      <%= render :partial => 'big_tom_contact_info' %>
    </div>
    <div class="col-md-4">
        <%= render :partial => 'list_of_pests' %>
    </div>
    <div class="col-md-4">
      <h2>Big Toms Pest Control</h2>
      <h3>#1 in Pest Control Service</h3>
      <div id="fieldtech_name" >
          <em>fieldtech name goes here</em>
      </div>
      <div id="satisfaction_guarantee">
          <%= render :partial => 'satisfaction_guarantee' %>
          <p>Satisfaction Guarantee Initials</p>
      <div class="initialPad signed">
        <div class="sigWrapper">
          <canvas class="pad" width="198" height="55"></canvas>
        </div>
      </div>
      <div class="row">
          <h2> Additional Services</h2>
          <% @order.order_items.each do |item| %>
          <div class="row">
              <div class="col-md-6">
                  <%= "#{item.service.name}" %>
              </div>
              <div class="col-md-6">
                  <%= "$#{item.total_price}" %>
              </div>
          </div>
          <% end %>
          <div class="row">
              <p>=================</p>
          </div>
          <div class="row">
          <div class="col-md-6">
              <p>SUBTOTAL</p>
          </div>
          <div class="col-md-6">
              <%= "$#{@order.subtotal}" %>
          </div>
              
          </div>
      </div>
          
      </div>

    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <%= render :partial => 'terms_of_service' %>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
<!--Field tech signature -->
          <div class ="row partys_signature">
              <div class="fieldTechSigPad signed">
                <div class="sigWrapper">
                  <canvas class="pad" width="198" height="55"></canvas>
                </div>
              </div>
          </div>
          <div class ="row printed_name_of_signature">
            <p><%= current_user.name %></p>
          </div>
          <div class="row signing_date">
              <%= @agreement.created_at.strftime( "%D" ) %><br />
          </div>
          
      </div>
      <div class="col-md-6">
<!--customer signature -->
          <div class ="row partys_signature">
              <div class="customerSigPad signed">
                <div class="sigWrapper">
                  <canvas class="pad" width="198" height="55"></canvas>
                </div>
              </div>
          </div>
          <div class ="row printed_name_of_signature">
            <p><%= @account.name %></p>
          </div>
          <div class="row signing_date">
              <%= @agreement.created_at.strftime( "%D" ) %><br />
          </div>
          
          <!-- <div class="sigPad signed">
            <div class="sigWrapper">
              <canvas class="pad" width="198" height="55"></canvas>
            </div>
            <p><%= @agreement.account.name %></p>
          </div> -->
      </div>
  </div>
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script src="https://thomasjbradley.github.io/signature-pad/jquery.signaturepad.js"></script>
  <script>
      credit_card_signature = <%= raw @agreement.credit_card_signature %>
    $(document).ready(function() {
      $('.creditCardSigPad').signaturePad({displayOnly:true}).regenerate(credit_card_signature);
    });

    satisfaction_guarantee_initials = <%= raw @agreement.satisfaction_guarantee_initials %>
    $(document).ready(function() {
      $('.initialPad').signaturePad({displayOnly:true}).regenerate(satisfaction_guarantee_initials);
    });

    field_tech_signature = <%= raw @agreement.field_tech_signature %>
    $(document).ready(function() {
      $('.fieldTechSigPad').signaturePad({displayOnly:true}).regenerate(field_tech_signature);
    });

    customer_signature = <%= raw @agreement.customer_signature %>
    $(document).ready(function() {
      $('.customerSigPad').signaturePad({displayOnly:true}).regenerate(customer_signature);
    });

  </script>
  <script src="https://thomasjbradley.github.io/signature-pad/assets/json2.min.js"></script>
